<div class="card">
    <div class="card-body">
        <h6 class="text-center">Lista de Empleados</h6>
        <table class="table table-sm table hover">
            <tbody>
                <tr *ngFor="let empleado of listaEmpleados">
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.departamento}}</td>
                    <td>{{empleado.sueldo}}</td>
                    <button class="btn btn-primary" (click)="onEdit(empleado)">Actualizar</button>
                    <button class="btn btn-danger" (click)="onDelete(empleado.$key)">Eliminar</button>
                </tr>
            </tbody>

        </table>
    </div>
</div>